body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url(../Images\ streaming/admission.jpg);
    background-attachment: fixed;
    font-family: "Bodoni MT";
}

hr{
    width: 95%;
    color: black;
}

.entete{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgba(218, 222, 225, 0.8);
}

.navigation{
    display:flex;
    flex-direction: row;
    align-items: flex-end; 
    font-weight: bold; 
}

#menu{
    display:flex;
    flex-direction: row;
}

/*boutons de recherche et navigation header*/
.navigation ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li
{
    font-size: 20px;
    display: block;
    position: relative;
    float: left;
    margin-right: 20px;
}

.navigation li ul
{
    display: none;
}

.sous_menu{
    border: 1px solid rgba(89, 94, 98, 0.2);
}

.navigation ul li a 
{
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 15px 5px 15px;
    margin-left: 1px;
    white-space: nowrap;
}

.navigation ul li a:hover 
{
    color: red;
    background-color: #e0dbdb;
}

.navigation li:hover ul 
{
    display: block;
    position: absolute;
}

.navigation li:hover li
{
    float: none;
    font-size: 15px;
}

.navigation li:hover a 
{
    background: #FFFF;
}

.navigation li:hover li a:hover 
{
    background:#bab7b5;
}

.navigation ul li ul li{
    animation-duration: 2s;
    animation-name: fadeInDown;
}

.recherche{
    margin: 0 3px 8px 0;
}
/*jusqu'ici*/

.logo{
    display: flex;
    align-items: baseline;
    width: 50%;
    padding: 15px 0 15px 15px;
}

/*image logo*/
.lecteur{
    width: 35%;
}

h1{
    color: red;
    text-align: center;
    font-size: 40px;
}

h2{
    color: red;
}

span{
    font-size: 25px;
    font-weight: bold;
}

.synop{
    background-color: rgba(218, 222, 225, 0.8);
    padding: 15px;
}

.video{
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}

.card_film{
    align-self: center;
}

.ensemble{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    width: 1000px;
}

.carte{
    display: inline-block;
    border: 2px solid rgba(218, 222, 225, 0.8);
    background-color: rgba(218, 222, 225, 0.8);
}

.photo{
    display: flex;
    flex-direction: row;
}

.texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 0 20px;
}

.suggestions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sm_card{
    display: inline-block;
    border: 3px solid  rgba(218, 222, 225, 0.8);
    background-color: rgba(218, 222, 225, 0.8);
    text-align: center;
    border-radius: 20px;
    margin: 20px 0 20px 0;
}

.imageborder{
    border-radius: 20px 20px 0 0;
}

.sm_card:hover{
    animation-duration: 2s;
    animation-name: bounceIn;
}

#nov{
    display: flex;
    justify-content: center;
}

.pagination {
    padding: 35px 0 20px 0;
    display: inline-block;
    justify-content: center;
}

.pagination a {
    color: #FFFF;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a:hover{
    color: red;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: rgba(218, 222, 225, 0.8);
}

.cam{
    display: flex;
    flex-direction: row;
    padding: 15px 0 0 20px;
    width: 20%;
}

.foot{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20px;
}

.utilisation{
    display: flex;
    flex-direction: row;
}

.utilisation p{
    padding-right: 20px;
}

.copyright{
    display: flex;
}

.conditions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    border-top: 2px solid black;
    font-weight: bold;
}

.modalités{
    display: flex;
    flex-direction: row;
}

.modalités li{
    list-style: none;
    margin-right: 35px;
}

footer a{
    color: black;
    text-decoration: none;
}

footer a:hover{
    color:red;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }