body{
    width: 95%;
    margin:auto;
    display: flex;
    flex-direction: column;
    background-image: url(./Images\ streaming/film_2.jpg);
    background-attachment: fixed;
    font-family: "Bodoni MT";
}

.entete{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgba(218, 222, 225, 0.8);
}

.navigation{
    display:flex;
    flex-direction: row;
    align-items: flex-end; 
    font-weight: bold; 
}

#menu{
    transform: scale(1);
    transition: .2s ease-in-out;
}

/*boutons de recherche et navigation header*/
.navigation ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li
{
    font-size: 20px;
    display: block;
    position: relative;
    float: left;
    margin-right: 20px;
}

.navigation li ul
{
    display: none;
}

.sous_menu{
    border: 1px solid rgba(89, 94, 98, 0.2);
}

.navigation ul li a 
{
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 15px 5px 15px;
    margin-left: 1px;
    white-space: nowrap;
}

.navigation ul li a:hover 
{
    color: red;
    background-color: #e0dbdb;
    transform: scale(1.2);
}

.navigation li:hover ul 
{
    display: block;
    position: absolute;
}

.navigation li:hover li
{
    float: none;
    font-size: 15px;
}

.navigation li:hover a 
{
    background: #FFFF;
}

.navigation li:hover li a:hover 
{
    background:#bab7b5;
}

.recherche{
    margin: 0 3px 8px 0;
}
/*jusqu'ici*/

.logo{
    display: flex;
    align-items: baseline;
    width: 50%;
    padding: 15px 0 15px 15px;
}

/*image logo*/
.lecteur{
    width: 35%;
}

h1{
    color: red;
    text-align: center;
    font-size: 40px;
}

h2{
    color: red;
}

span{
    font-size: 25px;
    font-weight: bold;
}

.synop{
    background-color: rgba(218, 222, 225, 0.8);
    padding: 15px;
}

.video{
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}

.film{
    display: flex;
    justify-content: center;
    border: 4px solid black;
    background-color:  rgba(181, 200, 216, 0.2);
    height: 300px;
}

.bouton_play img{
    width: 50%;
}

.bouton_play{
    width: 20%;
    display: flex;
    justify-content: center;
    margin: auto;
}

hr{
    width: 95%;
    color: black;
}

.suggestions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    border: 3px solid  rgba(218, 222, 225, 0.8);
    background-color: rgba(218, 222, 225, 0.8);
    text-align: center;
    border-radius: 20px;
    transform: scale(1);
    transition: .3s ease-in-out;
}

.image_border{
    border-radius: 20px 20px 0 0;
}

.card:hover{
    transform: scale(1.1);
}

#nov{
    display: flex;
    justify-content: center;
}

.pagination {
    padding: 35px 0 20px 0;
    display: inline-block;
    justify-content: center;
}

.pagination a {
    color: #FFFF;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a:hover{
    color: red;
    border: 2px solid red;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: rgba(218, 222, 225, 0.8);
}

.cam{
    display: flex;
    flex-direction: row;
    padding: 15px 0 0 20px;
    width: 20%;
}

.foot{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20px;
}

.utilisation{
    display: flex;
    flex-direction: row;
}

.utilisation p{
    padding-right: 20px;
}

.copyright{
    display: flex;
}

.conditions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    border-top: 2px solid black;
    font-weight: bold;
}

.contact{
    display: flex;
    flex-direction: column;
}

footer a{
    color: black;
    text-decoration: none;
}

footer a:hover{
    color:#7f0c08;
}